<html>
    <head>
        <title>Pauliutes blogas</title>
    </head>
    <body>
        <div>
            <h1><a href="">O taip, Pauliutes</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Pirmas postas</a></h2>
            <p>Buk sveikas</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Antras postas</a></h2>
            <p>Kaip liutas</p>
        </div>
    </body>
</html>
